.link {
    color: inherit;
    text-decoration: inherit;
}

.link:hover {
    color: inherit;
}

.main .link:hover .card {
    transform: scale(1.03);
    transition: 0.5s;
}

.main .card {
    height: 100%;
    transition: 0.5s;
}

.main .card .card-body .card-title {
    position: relative;
}

.main .card .card-body .card-title::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #999999;
    position: absolute;
    top: 5px;
    right: 5px;
}

.main .card .card-body .card-title.complete::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #3eb633;
    position: absolute;
    top: 5px;
    right: 5px;
}